@model WebAPI.Models.Product

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var productId = ViewBag.ProductId;
}

<h2>Edit</h2>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @Html.HiddenFor(model => model.ProductId)
            </div>
            <div class="form-group">
                <label asp-for="CateId" class="control-label"></label>
                <input asp-for="CateId" class="form-control" />
                <span asp-validation-for="CateId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Discount" class="control-label"></label>
                <input asp-for="Discount" class="form-control" />
                <span asp-validation-for="Discount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Status" /> @Html.DisplayNameFor(model => model.Status)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="button" value="Save" class="btn btn-success" onclick="Update()" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script>
    $(function () {
        $.ajax({
            type: "GET",
            url: "http://localhost:49595/api/Products/"+ @productId,
            success: function(data) {
                $("#ProductId").val(data.productId);
                $("#CateId").val(data.cateId);
                $("#Name").val(data.name);
                $("#Price").val(data.price);
                $("#Image").val(data.image);
                $("#Description").val(data.description);
                $("#Discount").val(data.discount);
                $("#Quantity").val(data.quantity);
                $("#Status").prop("checked", data.status);
            },
            error: function(a, b, c) {
                console.log(a);
                console.log(b);
                console.log(c);
            }
        });
    });
    function Update() {
        var data = {
            productId: $("#ProductId").val(),
            cateId: $("#CateId").val(),
            Name: $("#Name").val(),
            Price: $("#Price").val(),
            Image: $("#Image").val(),
            Description: $("#Description").val(),
            Discount: $("#Discount").val(),
            Quantity: $("#Quantity").val(),
            Status: $("#Status").is(":checked")
            
        };
        $.ajax({
            crossDomain: true,
            type: "PUT",
            url: "http://localhost:49595/api/Products/" + @productId,
            contentType: "application/json",
            dataType:"json",
            data: JSON.stringify(data),//data,
            success: function(result) {
                window.location.href = "/Products";
            },
            error: function(a, b, c) {
                alert("Error when update category");
            }
        });
    }
</script>

