
@{
    ViewData["Title"] = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Product List</h2>

<form asp-controller="Products" asp-action="Index" method="get">
    <p>
        <a asp-action="Create" id="insert" class="btn btn-danger" style="font-size:12pt;">Create New</a>
    </p>
    <table class="table" border="1" cellpadding="10">   
        <thead class="table-bordered" style="background-color:#00ff21;">
            <tr>
                <th>
                    Product ID:
                </th>
                <th>
                    Category ID:
                </th>
                <th>
                    Product Name:
                </th>
                <th>
                    Price
                </th>
                <th>
                    Image:
                </th>
                <th>
                    Discount:
                </th>
                <th>
                    Quantity:
                </th>
                <th>
                    Description
                </th>
                <th>
                    Status:
                </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody id="tableProduct"></tbody>
    </table>
    <br />
    <div id="msg"></div>
</form>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous">
</script>

<script>

    $(document).ready(function () {
        $.ajax({
            type: "GET",
            url: "http://localhost:49595/api/Products",
            //dataType: "json",
            //contentType: "application/json",
            success: function (data) {
                for (var i = 0; i < data.length; i++) {
                    var item = data[i];
                    $("#tableProduct").append('<tr>\
                        <td>\
                        <div id="productid">'+ item.productId + '</div>\
                        </td>\
                        <td>\
                        <div id="cateid">'+ item.cateId + '</div>\
                        </td>\
                        <td>\
                        <div id="name">'+ item.name + '</div>\
                        </td>\
                        <td>\
                        <div id="price">'+ item.price + '</div>\
                        </td>\
                        <td>\
                        <div id="image">'+ item.image + '</div>\
                        </td>\
                        <td>\
                        <div id="discount">'+ item.discount + ' (%)</div>\
                        </td>\
                        <td>\
                        <div id="quantity">'+ item.quantity + '</div>\
                        </td>\
                        <td>\
                        <div id="description">'+ item.description + '</div>\
                        </td>\
                        <td>\
                        <div id="status">'+ item.status + '</div>\
                        </td>\
                        <td style="font-size:12pt;">\
                        <a href="/Products/Details?id='+ item.productId + '" id="detail" class="btn btn-success">Details</a> |\
                    <a href="/Products/Edit?id='+ item.productId + '" id="update" class="btn btn-success">Update</a> |\
                    <button type="button" onclick="DeletePro('+ item.productId + ')" id="delete" class="btn btn-success">Delete</button>\
                        </td>\
                        </tr>');
                }
            },
            error: function (a, b, c) {
                console.log(a);
                console.log(b);
                console.log(c);
            }
        });
        $("#productid").change(function () {
            var options = {};
            options.url = "http://localhost:49595/api/Products/{id}" + $("#ProductId").val();
            options.type = "GET";
            options.dataType = "json";
            options.success = function (data) {
                $("#cateid").val(data.CateId);
                $("#name").val(data.Name);
                $("#price").val(data.Price);
                $("#image").val(data.Image);
                $("#discount").val(data.Discount);
                $("#quantity").val(data.Quantity);
                $("#description").val(data.Description);
                $("#status").val(data.Status);
            };
            options.error = function () {
                $("#msg").html("Error while calling the Web API!");
            };
            $.ajax(options);
        });
    });

    function DeletePro(id) {
        if (confirm("Do you want to delete this product?")) {
            $.ajax({
                crossDomain: true,
                type: "DELETE",
                url: "http://localhost:49595/api/Products/" + id,
                dataType: "json",
                success: function (result) {
                    location.reload();
                },
                error: function (a, b, c) {
                    alert("Error when delete product");
                }
            });
        }
    }
</script>

