@model WebAPI.Models.Category
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Create</h2>
<h4>Category</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CateId" class="control-label"></label>
                <input asp-for="CateId" class="form-control" />
                <span asp-validation-for="CateId" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Alias" class="control-label"></label>
                <input asp-for="Alias" class="form-control" />
                <span asp-validation-for="Alias" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="button" onclick="Create()" value="Create" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
<script>
    $(function () {
        $.ajax({
            type: "GET",
            url: "http://localhost:49595/api/Categories",
            success: function (data) {
                $("#CateId").val(data.cateId);
                $("#Name").val(data.name);
                $("#Alias").val(data.alias);
            },
            error: function (a, b, c) {
                console.log(a);
                console.log(b);
                console.log(c);
            }
        });
    });
    function Create() {
        var data = {
            Name: $("#Name").val(),
            Alias: $("#Alias").val()
        };
        $.ajax({
            crossDomain: true,
            type: "POST",
            url: "http://localhost:49595/api/Categories/Create",
            dataType: "json",
            data: data,
            success: function (result) {
                window.location.href = "/Categories";
            },
            error: function (a, b, c) {
                console.log(a);
                console.log(b);
                console.log(c);
            }
        });
    }
</script>
